body {
	background-color: #eff;
}

.flexcontainer {
	display: flex;
	flex-wrap: wrap;
	background-color: #e5f5f5;
	padding: 2em;
	border: 1px solid #e2f2f2;
	border-radius: .5em;
}

.itembutton {
	padding: 1em;
	border: 1px solid #e2f2f2;
	border-radius: .5em;
	cursor: pointer;
	margin: 0 1em 0 0;
	max-width: 20em;
	display: flex;
	flex-direction: row;
}
.itembutton:hover {
	border: 1px solid #a2b2b2;
}
a { text-decoration: none !important; }
a:visted { text-decoration: none !important; }
a:hover { text-decoration: none !important; }

button > p { text-align: left; padding-left: 1em; }

.buttonImg {
	width: 6em;
	height: 6em;
}

.overlayimageH {
  height: 95%;
}

.overlayimageW {
  width: 95%;
}


.popup {
	display: flex;
	flex-direction: row;
}

/*************************** Discord page *****************************/

body.DiscordBodyLight {
	background-color:#bfc1c4;
	font-size:1.5em;
	text-shadow: .5px .5px 1px blue;
	color: #000;
}

body.DiscordBodyLight h1 {
	text-shadow: 4px 5px 2px #aab030;
	border-bottom: 1px solid #888;
}
body.DiscordBodyLight h2 {
	text-shadow: 3px 4px 1px #aab030;
}

body.DiscordBodyDark {
	background-color:#1f2124;
	font-size:1.5em;
	text-shadow: .5px .5px 1px lightblue;
	color: #ddd;
}

body.DiscordBodyDark h1 {
	text-shadow: 4px 5px 2px #2240d0;
}
body.DiscordBodyDark h2 {
	text-shadow: 3px 4px 1px #2240d0;
}

table.invisibletable td {
	padding-left: 2em;
}

body.DiscordBodyLight a.visibleLink {
	text-decoration: underline !important; color: blue;
}
body.DiscordBodyLight a.visibleLink:hover {
	text-decoration: underline !important; color: green;
}

body.DiscordBodyDark a.visibleLink {
	text-decoration: underline !important; color: #aef;
}
body.DiscordBodyDark a.visibleLink:hover {
	text-decoration: underline !important; color: #eeb;
}


.GoDarkTheme {
	position: fixed;
	right: 1em;
	top: .2em;
	width: 3em;
	height: 1.2em;
	background-color: #444;
	border: 1px solid #333;
	border-radius: 3px;
	color: #222;
	font-size: .5em;
	padding: 0;
}
.GoDarkTheme:hover {
	color: #565;
	font-weight: bold;
}
.GoLightTheme {
	position:fixed;
	right: 1em;
	top: .2em;
	width: 3em;
	height: 1.2em;
	background-color:#ccc;
	border:1px solid #ddd;
	border-radius: 3px;
	color: #eee;
	font-size:.5em;
	padding: 0;
}
.GoLightTheme:hover {
	color: #a9a;
	font-weight: bold;
}



@media only screen and (min-width: 769px) {
	.GoDarkTheme {
		position:fixed;
		right:1em;
		top:1em;
		width:5em;
		height:3em;
		background-color:#444;
		border:3px solid #333;
		border-radius: 5px;
		color: #222;
		font-size:.75em;
		padding: 0;
	}
	.GoDarkTheme:hover {
		color: #565;
		font-weight: bold;
	}
	.GoLightTheme {
		position:fixed;
		right:1em;
		top:1em;
		width:5em;
		height:3em;
		background-color:#ccc;
		border:3px solid #ddd;
		border-radius: 5px;
		color: #eee;
		font-size:.75em;
		padding: 0;
	}
	.GoLightTheme:hover {
		color: #a9a;
		font-weight: bold;
	}
}

.image20em {
	width:99vw;
}
.image30em {
	width:99vw;
}
@media only screen and (min-width: 640px) {
	.image20em {
		width:640px;
	}
	.image30em {
		width:640px;
	}
}

@media only screen and (min-width: 769px) {
	.image20em {
		width:20em;
	}
	.image30em {
		width:30em;
	}
}

